.img-slice img{
    display: flex;
    width: 60vh;
    height: 60vh;
    object-fit: cover;
    border-radius: 2%;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.img-slice img:hover{
    transform: scale(0.95);
}
.img-slice video{
    display: flex;
    width: 60vh;
    height: 60vh;
    object-fit: cover;
    border-radius: 2%;
    cursor: pointer;
}
video:fullscreen {
    width: 100vw; /* Chiều rộng đầy màn hình */
    height: 100vh; /* Chiều cao đầy màn hình */
    object-fit: contain; /* Giữ tỷ lệ ban đầu */
}
.border-radius-5{
    border-radius: 5px;
}
.button-f{
    cursor: pointer;
    height: 30px;
    width: 60px;
    background-color: #272727;
    color: #fff;
    border-radius: 5px;
}
.button-f:active{
    transform: scale(0.95);
}
.bg-w{
    background-color: #ffffff;
    width: 400px;
    height: 550px;
    border-radius: 4px;
    box-shadow: 6px 10px 10px #000;
}
.bg-w .tx-center{
    font-size: 40px;
    font-weight: 500;
}
.authen-bg-main{
    font-weight: 500;
    font-size: 20px;
    height:100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #272727;
}
.authen-box form label a{
    color: #006eff;
    text-decoration: none;
}
.authen-box form label a:hover{
    color: #004db1;
    transition: color 0.3s ease;
    text-decoration: underline;
}
.authen-box h2{
    margin: 0;
    font-size: 30px;
}
.authen-box form input{
    width: 308px;
    height: 30px;
    outline: none;
}
.authen-box form button{
    width: 70px;
    height: 30px;
    cursor: pointer;
    outline: none;
    background-color: #464646;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0ms;
}
.authen-box form button:hover{
    background-color: #272727;
    box-shadow: 0px 0px 20px -18px;
}
.authen-box form button:active{
    transform: scale(0.95);
}
.authen-box form .re input{
    width: 20px;
    margin: 0;
}
.authen-box form .re p{
    font-size: 15px;
    color: #5f5f5f;
}
.note{
    color: #a0a0a0;
    font-style: italic;
    font-weight: 200;
    text-align: center;
}   
.authen-box form i{
    position: absolute;
    cursor: pointer;
    font-weight: 100;
    margin-right: 10px;
}
.ui{
    margin: 5px;
}
.ui-1 h1, h2{
    font-weight: 400;
}
.ui-1 h1{
    margin: 0 0 10px 0;
}
.ui-1 h2{
    margin: 5px 0;
}
.ui-1 h2 a{
    color: #0063e4;
    text-decoration: none;
}
.ui-1 h2 a:hover{
    color: #004db1;
    transition: color 0.3s ease;
    text-decoration: underline;
}
div hr{
    width: 100%;
    height: 1px;
    background-color: #27272782;
}
.pc input{
    width: 30px;
    height: 25px;
    outline: none;
    text-align: center;
}
.pc button{
    width: 35px;
    height: 30px;
    background-color: #272727;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.pc button:active{
    transform: scale(0.95);
}
.pc button:disabled{
    background-color: #727272;
    color: #fff;
    cursor: not-allowed;
}
.pc button span{
    font-size: 20px;
    display: flex;
}
.flex .div img{
    height: 95vh;
}
/*-----------------------------------*/
@media (max-width: 768px) {
    .img-slice img{
        width: 15vh;
        height: 15vh;
    }
    .img-slice img:hover {
        transform: none;
    }
    .flex .div img {
        width: 100%;
        height: 50vh;
    }
    .m-t-b{
        padding: 10px 0;
        margin: 5px;
    }
    .img-slice video{
        width: 40vh;
        height: 40vh;
    }
}
