.footer{
    background-color: #363636;
    transition: margin-left 0.3s ease;
}
.h-200{
    height: 300px;
}
footer h1{
    font-weight: 200;
    font-size: 25px;
}
footer .flex a img{
    width: 60px;
    height: 60px;
}
footer .flex a img:active{
    transform: scale(0.90);
}